* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top center, #1d4ed8 0%, #0f172a 50%, #020617 100%);
  color: white;
  min-height: 100vh;
}


.container {
  max-width: 1300px;
  margin: auto;
  padding: 50px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
}

/* ===== BOTONES ===== */

.league-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.league-buttons button {
  padding: 10px 22px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  /*backdrop-filter: blur(10px);*/
  transition: all 0.3s ease;
}

.league-buttons button:hover {
  background: #2563eb;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}

/* Activo */
.league-buttons .active {
  background: #2563eb;
  box-shadow: 0 8px 25px rgba(37, 99, 235, 0.6);
}

/* ===== GRID ===== */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

/* ===== CARD ===== */

.card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.4);
}


.card img {
  width: 85px;
  height: 85px;
  object-fit: contain;
  margin-bottom: 18px;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 6px;
}

.card p {
  opacity: 0.6;
  font-size: 0.9rem;
}

/* ===== DETALLES ===== */

.details {
  margin-top: 40px;
  padding: 40px;
  border-radius: 20px;

  background: linear-gradient(
    145deg,
    #1f2f4d,
    #182844
  );

  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.details img {
  width: 130px;
  margin: 25px 0;
}
